h1, h2 {
    text-align: center;
    color: #33C3F0;
    
}

h1{
    font-weight: bold;
}

h2{
    font-weight: 200;
}

#content {
    margin-top: 40px;
}

.delete-tweet,
.delete-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}